
<div id="<%= dom_id entry %>">
</div>

<div class="columns mt-6 is-centered">
  <div class="column is-one-quarter">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title"><%= entry.meal_type %>: <%= entry.category.title if entry.category.present? %><p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>Calories: <span class="has-text-weight-bold"><%= entry.calories %></span></p>
          <p>Proteins: <span class="has-text-weight-bold"><%= entry.proteins %></span></p>
          <p>Carbohydrates: <span class="has-text-weight-bold"><%= entry.carbohydrates %></span></p>
          <p>Fats: <span class="has-text-weight-bold"><%= entry.fats %></span></p>
          <p class="italic">Logged: <%= time_ago_in_words(entry.created_at) %> ago.</p>
        </div>
        <div class="card-footer">
          <%= link_to "Show", entry, class: "card-footer-item" %>
          <%= link_to "Edit", edit_entry_path(entry), class: "card-footer-item" %>
          <%= link_to "Delete", entry, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-footer-item button is-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

 

